<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="css/php_interface.css" />
</head>
<body>
	<header>
		<div class="header">
			ONPS2017 REST API在线手册
		</div>
	</header>
	<div class="container">
		<iframe src="iframe.html" width="251px" height="100%" border="0" style="border: 0;"></iframe>
		<div class="right-container">
			<div>
				<h3 style="float:left">索引</h3>
				<span style="float:right;padding:15px;margin-right:20px;color:blue;">最后生成时间:{$time}</span>
			</div>
			<div class="interface-list">
				<!-- <ul>
					<li><a href="sencond.html">news</a></li>
					<li>GET</li>
					<li>获取新闻</li>

					<li>&nbsp;</li>
					<li>POST</li>
					<li>添加新闻</li>

					<li>&nbsp;</li>
					<li>PUT</li>
					<li>修改保存新闻信息</li>
				</ul>
				<ul>
					<li><a href="sencond.html">login</a></li>
					<li>GET</li>
					<li>用户登录验证</li>
				</ul> -->
				{$menu}
			</div>
		</div>
	</div>
</body>
</html>
